@model IEnumerable<ProjetoMVC.Models.Contato>;

    @{
        ViewData["Title"] = "Listagem de contatos";
    }

    <h2>Contatos</h2>

    <p>
        <a asp-action="Criar"><input style="font-weight:bold ;"  value="Novo contato" class="btn btn-success"/></a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ativo)
                </th>  
                <th></th>        
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
               <tr>
                    <td>
                        @Html.DisplayFor(model => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Ativo)
                    </td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@item.Id"><button type="button" class="btn btn-warning">Editar</button></a>
                        <a asp-action="Detalhes" asp-route-id="@item.Id"><button type="button" class="btn btn-secondary">Detalhes</button></a>
                        <a asp-action="Deletar" asp-route-id="@item.Id"><button type="button" class="btn btn-danger">Deletar</button></a> 
                    </td>
               </tr> 
            }
        </tbody>
    </table>